@bit:registry=https://node.bit.dev
@xto10x:registry=https://npm.pkg.github.com/
//node.bitsrc.io/:_authToken=<authToken>
//node.bit.dev/:_authToken=<authToken>
//npm.pkg.github.com/:_authToken=<authToken>